In [31]:
import pandas as pd 
import numpy as np

In [34]:
caesarian = pd.read_csv("caesarian.txt")
caesarian.head(10)

   Age  Dev_number  Dev_time  Blood_preassure  heart_problem  caesarian
0   22           1         0                2              0          0
1   26           2         0                1              0          1
2   26           2         1                1              0          0
3   28           1         0                2              0          0
4   22           2         0                1              0          1
5   26           1         1                0              0          0
6   27           2         0                1              0          0
7   32           3         0                1              0          1
8   28           2         0                1              0          0
9   27           1         1                1              0          1

In [35]:
# Variabel independen
x = caesarian.drop(["caesarian"], axis=1)
x.head()
# Variabel dependen
y = caesarian["caesarian"]
y.head()

0    0
1    1
2    0
3    0
4    1
Name: caesarian, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size= 0.2, random_state=123)

In [37]:
from sklearn.naive_bayes import GaussianNB

In [38]:
modelnb = GaussianNB()

In [39]:
nbtrain = modelnb.fit(x_train, y_train)

In [40]:
ypred = nbtrain.predict(x_test)
ypred

array([1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [41]:
nbtrain.predict_proba(x_test)

array([[0.13322595, 0.86677405],
       [0.74653837, 0.25346163],
       [0.08698533, 0.91301467],
       [0.70519117, 0.29480883],
       [0.49123283, 0.50876717],
       [0.31283492, 0.68716508],
       [0.01726316, 0.98273684],
       [0.63383692, 0.36616308],
       [0.70894773, 0.29105227],
       [0.80047685, 0.19952315],
       [0.83623454, 0.16376546],
       [0.69456277, 0.30543723],
       [0.75275095, 0.24724905],
       [0.16209657, 0.83790343],
       [0.70894773, 0.29105227],
       [0.77505323, 0.22494677]])

In [44]:
from sklearn.metrics import confusion_matrix

In [46]:
y_actual = pd.Series([0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0], name = 'actual')
y_pred = pd.Series([1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0], name = 'prediction')
df_confusion = pd.crosstab(y_actual, y_pred)
df_confusion

prediction  0  1
actual
0           5  4
1           5  2

In [47]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.56      0.53         9
           1       0.33      0.29      0.31         7

    accuracy                           0.44        16
   macro avg       0.42      0.42      0.42        16
weighted avg       0.43      0.44      0.43        16